:root {background-color: lightblue;}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input {font-size: 30px;}

.addBox > * {
    margin: 0.5rem;
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
}

.tareas {
    background-color: antiquewhite;
    border-radius: 5px;
    width: 50vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0.5rem;
}

.tareas > label {
    color: coral;
    font-size: 32px;
    margin-left: 0.5rem;
}

.tareas > input {
    accent-color: coral;
    width: 3vw;
}

#addTask:hover {cursor: pointer;}